{% extends "layout.html" %}

{% block title %}
    Help
{% endblock %}

{% block main %}
    <p>Buy: This is buying a share of a company. You should aim to buy a stock that you think will shoot up in price to give you a profit.
    <br><a href="/buy">Would you like to buy stocks?</a></p>
    <p>Sell: This is selling a share of a company that you own. You should aim to make the most profit out of a stock before selling it.
    <br><a href="/sell">Would you like to sell your stocks?</a></p>
    <p>Leaderboard: This is a leaderboard to show the rankings of users on this site of your skill level.
    <br><a href="/leaderboard">Would you like to view the leaderboard?</a>
    <p>Home: This would show the stocks you own and how much you are profitting from it.
    <br><a href="/">Would you like to view the stocks you own?</a>
    <p>Quote: This will give information about a stock. You will see the price which will help you decide whether to buy or sell the stock.
    <br><a href="/quote">Would you like to view a stock quote?</a>
{% endblock %}